<div class="nav-bar">
    <nav>
        <span class="logo">
            Plantagram
        </span>
        <span class="icons">
            <i class="fa-solid fa-house"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="far fa-compass"></i>
        </span>
    </nav>
</div> 