<div class="nav-bar">
    <div class="main-logo">
        <h2>Plantagram</h2>
    </div>
    <div class="main-icons">
        <a href="/users/profile/<%=user._id %>"><i class="fa-solid fa-house"></i></a>
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-comment"></i>
        <i class="far fa-compass"></i>
    </div>
</div>