<div class="nav-bar">
    <nav>
        <div class="logo">
            <h1>Plantagram</h1>
        </div>
        <div class="icons">
            <a href="/users/profile/<%=user._id %>"><i class="fa-solid fa-house"></i></a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="far fa-compass"></i>
        </div>
    </nav>
</div>