<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Register Below</h2>
    <form method="POST" action="/users/registration">
        <div>
            <label for="name">Name:</label>
            <input id="name" name="name" type="text"/>
        </div>
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text"/>
        </div>
        <div>
            <label for="image">Profile Photo:</label>
            <input id="image" name="image" type="text"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" name="email" type="text"/>
        </div>
        <input type="submit" value="Create Account"/>
       
    </form>
</body>
</html>