<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <%- include('partials/nav.ejs')%>
    <h1>Take a Tour of the Page</h1>
    <!--Screenshot(s) goes in here-->
    <a href="/users/profile/<%= user._id %>">Profile Page</a>
</body>
</html>