<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
<body>
    <%- include('partials/nav.ejs')%>
    <h2>Take a Tour of the Page</h2>
    <img src="/styles/tour.png" alt="site map">
    <button><a href="/users/profile/<%= user._id %>">Profile Page</a></button>
</body>
</html>