<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>

<body>
    <%- include('../partials/nav.ejs')%>
    <div class="reg-template">
        <div class="photo-strip">
            <a href="#" title="Plantagram">
            <img height="250" src="https://i.pinimg.com/736x/b1/36/76/b13676c83c5e48d9015a583a29439e84.jpg" alt="Plantagram" title="Succulent" />
            <img height="250" src="https://i.pinimg.com/236x/44/8f/06/448f0667aeeefcc74e7af85c2faa58e0.jpg" alt="Plantagram" title="Blue flower"" /> 
        </div> 
        <h1>Create Post <i class="fa-solid fa-camera"></i></h1>
        <form method='POST' action='/posts/new'>
            <div class="input-box">
                <label for='image'> Post Image(url): </label>
                <input id='image' name='image' type='text' />
            </div>
            <div class="input-box">
                <label for='caption'> Write A Caption: </label>
                <input id='caption' name='caption' type='text' />
            </div>
            <div class="input-box">
                <label for='location'> Location (City, State): </label>
                <input id='location' name='location' type='location' />
            </div>
            <div class="input-box">
                <label class="is-hidden" for='user'> User </label>
                <input class="is-hidden" id='user' name='user' type='user' value='<%=user._id %>' readonly/>
            </div>
            <input class="button button3" type='submit' value='Create New Post!'>
        </form>
    </div>
</body>
</html>